*{
    margin: 0;
    padding: 0;
    text-align: center;
}
h1{
    background-color: #081b31;
    color: white;
    height: 4rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    line-height: 4rem; /*give the same height according to the nav height it will replicate the iteam in exact center*/
}
.choice:hover{
    cursor: pointer;
    background-color:#081b31;
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 3rem;
}
.choice{
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    justify-content:center ;
    align-items: center;
}
img{
    height: 150px;
    width: 150px;
    object-fit: cover; /* it would be make a fit image that become stretch or contrast*/
    border-radius: 50%;
}
.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 1.5rem;
    gap: 5rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #081b31;
}
#user-score,#comp-score{
    font-size: 4rem;
}
.msg-container{
    margin-top: 1.5rem;
}
#msg{
    background-color: #081b31;
    color: aliceblue;
    font-size: 2rem;
    display: inline;
    padding: 0.5rem;
    border-radius: 1.5rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}